body{
	font-family: 'Raleway', sans-serif;
}

#main_navbar{
   margin-bottom: 0px;
}

#bottom_navbar{
	background: #1e62a6;
}

#bottom_navbar .nav > li > a {
   color: #FFF;
}

#bottom_navbar .nav > li > a:hover {
   background: #FFF;
   color: #1e62a6;
}

#individual{
	background: url('../images/card.jpg') center center no-repeat;
	height: 350px;
	padding-left: 0px;
	padding-right: 0px;
	margin-left: 0px;
	margin-right: 0px;
}
.option_thumb{
	text-align: center;
	height: 150px;
	width: 150px;
	border-radius: 75px;
	padding-top: 20%;
	border-style: solid;
	border-color: #1e62a6;
	border-width: 1px;
	
}
.option_thumb .fa{
	
}
.option_thumb h4{
	
}
.option_thumb:hover{
	background:  #1e62a6;
	cursor: pointer;
	
}
.option_thumb:hover .fa{
	
	color: #FFF;
}
.option_thumb:hover h4{
	
	color: #FFF;
}


#personal_payment_options{
	margin-left: 0px;
	margin-right: 0px;
}
.normal_row{
	padding-top: 3%;
	padding-bottom: 3%;
	padding-left: 10%;
	padding-right: 10%;
}
#icon_row{
	padding-top: 3%;
}
#secure{
	background: #FEFEFE;
}
#secure h3{

	 color: #1e62a6;

}
.secure_icons{
	padding-top: 10%;
	padding-left: 3%;
	padding-right: 3%;
}
.secure_icons .fa{

	 color: #1e62a6;

}
#reg_col{
	background: rgba(0,0,0,0.6);
	padding-top: 3%;
	padding-bottom: 3%;
	padding-left: 7%;
	padding-right: 3%;
}
#reg_btn{
	border-radius: 0px;
	padding-top:10px;
	padding-bottom: 10px;
	width: 70%;
}
#intro_col{
	text-align: center;
	color: #FFF;
}
.intro-text{
	background: rgba(30, 98, 166,0.6);
	padding-top:3%;
	padding-bottom: 4%;
	padding-left: 3%;
	padding-right: 3%;
}

#mpesa_to_paypal{
	padding-bottom: 3%;
	padding-top: 3%;
	text-align: center;
}
#paypal_to_mpesa{
	padding-bottom: 3%;
	padding-top: 3%;
	text-align: center;
}
#paypal_to_mpesa{
	background: #FCFCFC;
}
.pesahub_title{
	color: #1e62a6;
}
#tab_row{
	background: url('../images/abstract.jpg')center center no-repeat;
	height:100px;
	padding-top: 30px;
}
#tab_col .nav-tabs > li > a {
    
    background: #1e62a6;
   
}
#tab_col .nav-tabs > li > a {
    
    color:#FFF;
   
}
#tab_col .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
   
    background-color: #fff;
     color: #1e62a6;
}
.tab_row{
	margin-top: 5%;
}

.custom_nav_pill  > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
    color: #337ab7;
    background-color: #FFF;
}

.custom_nav_pill  > li > a {
    border-radius: 4px;
    border-left-style: solid;
}

.custom_nav_pill > li.active{
  
    text-decoration: underline;
    
}
#login_btn,#register_btn {
    border-radius: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 10px;
    margin-bottom: auto;
}

#register_btn{
	margin-left: 10px;
}
#main_right_nav .active{
	background: #FBFBFB;
}

#pay_for_bills{
	padding-top: 2%;
}
#pay_fees{

	padding-top: 2%;

}
#shop_online{

	padding-top: 1%;

}
.form_title{

	 color: #337ab7;

}
#western_jumbo{
	background: url('../images/wu.jpg') center center no-repeat;
	background-size: cover;
	height: 200px;
	text-align: center;
	color: #FFF;
}
#western_jumbo h2{
	font-weight: 700;
}
#mg_jumbo{

	background: url('../images/moneygram.jpg') center center no-repeat;
	background-size: cover;
	height: 200px;
	text-align: center;
	color: #FFF;

}
#paypal_jumbo{

   background: url('../images/paypal_receive.jpeg') center center no-repeat;
	background-size: cover;
	height: 200px;
	text-align: center;
	color: #FFF;

}

